@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: silver;
  font-family: "Covered By Your Grace";
}

header{
  padding: 10px;
  text-align: center;
  background: pink;
}
section{
  padding: 10px;
  background-color: lightblue;
}
aside{
  padding: 10px;
  background-color: lightyellow;
}
footer{
  padding: 10px;
  text-align: center;
  background-color: lavender;
}
